.image {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 26px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
  border-radius: 8px;

  &__bg {
    width: 100%;
    height: auto;
    transition: .3s;
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(0);
    background: rgba(0, 0, 0, 0.3);
    transition: .3s;
  }
  &__author{
    width: 100%;
    position: absolute;
    top: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  &__authorImg {
    width: 70px;
    height: 70px;
    border: 1px solid #fff;
    border-radius: 8px;
  }
  &__authorName {
    font-size: 30px;
    margin-top: 13px;
  }
  &__authorLink {
    font-size: 18px;
  }
  &__buttons {
    position: absolute;
    width: 50%;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
  }
  &__button {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
  }
  &:hover {
    .image__bg {
      filter: blur(20px);
    }
    .image__overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: scale(1);
    }
  }
}